{% extends 'shop/base.html' %}
{% block body %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" style="font-size:100px;font-weight:bold;font-family:'sans-serif';">SoftCart</h1>
        <p class="lead text-muted">SoftCart is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal.As of March 2017, SoftCart held a 39.5% market share of India's e-commerce industry. SoftCart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones. SoftCart also owns PhonePe, a mobile payments service based on the Unified Payments Interface.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Home</a>
          <a href="#" class="btn btn-secondary my-2">Register</a>
        </p>
      </div>
    </div>
  </section>
{% endblock %}

